<section class="form-container">

  <div class="template-editor">
    <div class="area">
      <div class="board-header">
        <h2>{{ boardTitle ? boardTitle : "Titulo del Problema" }}</h2>
        <div class="description">
          <p>
            {{ boardDescription ? boardDescription : "Descripcion del problema" }}
          </p>
        </div>
      </div>
    </div>
    
    @for (board of boards; track $index) {
    <app-board-component
      [tableroSize]="board.size"
      [editor]="editor"
      [initialPositions]="initialPositions"
    ></app-board-component>
    }
  </div>
</section>
