<h2>Opciones</h2>

<div class="input-form">
  <label for="tableroSize">Tamaño del tablero:</label>
  <input
    id="tableroSize"
    type="number"
    min="2"
    max="12"
    [(ngModel)]="numeroValue"
    placeholder="NxN"
    class="input-number"
  />
</div>

<div class="button-list">
  <!-- botton para crear tablero es especial :D-->
  <div class="button-option">
    <app-creator-button
      [name]="'Crear Tablero'"
      [buttonColor]="'#9C27B0'"
      (addPrefab)="procesarNumero()"
    />
  </div>
  <div class="button-list">
    <div class="button-option">


      <app-creator-button
      [name]="editor ? 'Cambiar a modo visualizador' : 'Cambiar a modo editor'"
      [buttonColor]="'#4CAF50'"
      (addPrefab)="toggleEditor()"
    />



      
    </div>


    <!-- @for(button of buttons; track button.label) {
  <div class="button-option">
    <app-creator-button
      [name]="button.label"
      (addPrefab)="onButtonClick($event)"
    />
  </div>
  } -->
  </div>
</div>
