<h2>Opciones</h2>

<div class="input-form">
  <input
    type="number"
    [(ngModel)]="numeroValue"
    placeholder="Ingrese un número para el tamaño del tablero"
  />
  <!-- <button (click)="procesarNumero()" class="button">Crear Tablero</button> -->
</div>

<div class="button-list">
  <!-- botton para crear tablero es especial :D-->
  <div class="button-option">
    <app-creator-button
      [name]="'Crear Tablero'"
      [buttonColor]="'#9C27B0'"
      (addPrefab)="procesarNumero()"
    />
  </div>

  @for(button of buttons; track button.label) {
  <div class="button-option">
    <app-creator-button
      [name]="button.label"
      (addPrefab)="onButtonClick($event)"
    />
  </div>
  }
</div>
