.form-container {
    /* position: relative; */
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btn-xd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.template-editor {
    height: 100%;
    flex: 3; /* Take up more space */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px;
    /* overflow-y: auto; Allow scrolling if content overflows */
    background-color: #f9f9f9; /* Light background for better contrast */
}
.area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.description{
    width: 70%;
}

@media (max-width: 900px){
    .form-container{
        flex-direction: column;
    }
}