.template-editor-container{
    position: relative;
    display: flex;
    height: 100vh;
}

.template-editor {
    flex: 3; /* Take up more space */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px;
    overflow-y: auto; /* Allow scrolling if content overflows */
    background-color: #f9f9f9; /* Light background for better contrast */
}

/* Button list on the right */
.button-list {
    flex: 1; /* Take up less space */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px;
    overflow-y: auto; /* Allow scrolling if content overflows */
    background-color: #f1f1f1; /* Slightly darker background */
}