<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-form-field class="full-width">
          <mat-label>Usuario</mat-label>
          <input
            matInput
            [(ngModel)]="username"
            name="username"
            type="username"
            required
            email
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            [(ngModel)]="firstName"
            name="firstName"
            type="firstName"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            [(ngModel)]="lastName"
            name="lastName"
            type="lastName"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            [(ngModel)]="email"
            name="email"
            type="email"
            required
            email
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [(ngModel)]="password"
            name="password"
            type="password"
            required
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          Registrarse
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
