 <div class="home-container" >
<!-- *ngIf="router.url === '/'" -->
      <h2>Aprende resolviendo problemas</h2>
      <p>En esta plataforma podrás crear y gestionar problemas de manera sencilla</p>
      
      <div class="features">
        <div class="feature-card">
          <div class="icon">📝</div>
          <h3>Crear Tablero</h3>
          <p>Diseña tableros para el problema de las n reinas de forma personalizada</p>
          <button routerLink="/crear" class="btn-primary">Comenzar ahora</button>
        </div>
        
        <div class="feature-card">
          <div class="icon">📊</div>
          <h3>Vista de los tableros creados</h3>
          <p>Visualiza un tablero creado de la misma forma que lo vera un usuario</p>
          <button routerLink="/viewform" class="btn-primary">Ver tablero</button>
        </div>
        
      </div>

    </div>