<mat-toolbar>
  <div class="navbar-container">
    <div>
      <button matButton [matMenuTriggerFor]="menu" class="navbar-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </button>
        <button
          mat-menu-item
          routerLink="/crear"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Crear tablero
        </button>
      </mat-menu>

      <!-- <button matIconButton class="navbar-icon"> -->
      <!-- <mat-icon>menu</mat-icon> -->
      <!-- </button> -->
      <span id="menuTitle"><strong>Problema de las N Reinas</strong></span>
    </div>

    <div class="navbar-options">
      <a
        mat-button
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        mat-button
        routerLink="/crear"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Crear tablero</a
      >
    </div>
  </div>
</mat-toolbar>
