
.navbar-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#menuTitle {
  font-size: large;
}

.navbar-icon {
  border: 0;
  background-color: transparent;
}

.navbar-options {
  display: flex;
  margin: 0 1rem;
  gap: 1rem;
}

a.active-link {
  font-weight: bold;
  color: white; 
  // text-decoration: underline;
}

.active-btn {
  background-color: #a8d8ea;
  font-weight: bold;
}


@media (min-width: 900px) {
  .navbar-icon {
    display: none;
  }
}

@media (max-width: 900px) {
  .navbar-options{
    display: none;
  }
}
