<header class="main-header">
    <div class="logo">
      <h1>FormBuilder</h1>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        <li><a routerLink="/crear" routerLinkActive="active">Crear Formulario</a></li>
        <li><a routerLink="/mis-formularios" routerLinkActive="active">Mis Formularios</a></li>
        <li><a routerLink="/respuestas" routerLinkActive="active">Respuestas</a></li>
      </ul>
    </nav>
  </header>